.updatedb-box {
  width: 62.1%;
  display: flex;
  margin: 48px auto;
  /* padding: 57px 88px; */

  background: #ffffff;
  box-shadow: 0px 2px 16px rgba(128, 72, 91, 0.05),
    0px 2px 4px rgba(128, 72, 91, 0.1);
  border-radius: 8px;
}

.uploadimg {
  margin: 57px 70px 57px 81px;
}

.failimg {
  margin: 6px 0 3px 26px;
}

.updatedetails-container {
  margin-right: 72px;
}
.update-top {
  border-bottom: solid 1px #f8e7cf;
  padding-bottom: 10px;
  margin-top: 64px;
}

.update-data {
  font-size: 20px;
  line-height: 24px;
  color: #80485b;
}

.grey-header {
  font-size: 14px;
  color: #9fa2b4;
  text-align: left;
}

.container1 {
  padding-bottom: 10px;
}
.container2 {
  margin-top: 8px;
}
.container3 {
  margin-bottom: 32px;
}

.black-description {
  font-size: 20px;
  color: #252631;
  text-align: left;

}

.update-bottom {
  margin-top: 32px;
}

.popup-msg1 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}
.popup-msg2 {
  font-size: 20px;
  font-weight: bold;
  color: #252631;
  line-height: 24px;
  margin-bottom: 16px;
}

.message-container {
  background: white;
  height: 160px;
  padding: 32px 40px;
  width: 430px;
}

.popup-btn {
  background: #fdf0df;
  height: 90px;
  padding: 24px 55px;
  justify-content: space-evenly;
}

.continue-btn {
  background: #ffc881;
  width: 147px;
}

.cancel-btn {
  background: none;
  width: 147px;
  border: 1px solid #f32931;
  justify-content: center;
}

button > span {
  color: #f32931;
}

.popup-purpletxt {
  color: #80485b;
  font-weight: bold;
}

.defaultinputfile {
  display: none;
}

.popup-loadcontainer {
  height: 196px;
  width: 430px;
  padding: 32px 40px;
}

.percent {
  color: #4b1e2d;
  font-size: 22px;
  line-height: 24px;
  margin-top: 12px;
}

.fail-container {
  margin-top: 120px;
  margin-bottom: 24px;
}
.fail-title {
  font-size: 22px;
  line-height: 24px;
  color: #80485b;
}

.fail-msg {
  font-size: 16px;
  line-height: 32px;
  color: #252631;
}

.popup-box {
  display: flex !important;
  height: 100%;
  margin-right: auto;
  align-items: center;
}

/* SuccessUpload */

.success-container {
  text-align: center;
  margin-top: 48px;
}

.summary-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.summary-container {
  height: 112px;
  padding: 24px 40px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ffc881;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.summary-subcontainer {
  display: flex;
  height: 64px;
  min-width: 250px;
  padding: 7px 28px 7px 0px;
}

.success-header {
  font-size: 32px;
}

/* Tabs */
.navtable-container {
  border-top: 1px solid #ecdde2;
  text-align: center;
  padding: 88px 80px;
  margin-top: 56px;
}
/* 
.nav-tabs .nav-link{
  border: none;
} */

.nav-tabs {
  width: 100%;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: inherit;
  border: none;
  border-bottom: solid 4px #80485b;
  font-weight: bold;
  font-size: 20px;
  color: #80485b;
}

a.nav-item.nav-link {
  font-size: 20px;
  color: #252631;
}

.nav-tabs.nav-link {
  border: none;
}
.tab-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
 .sum-icon {
  width: 34px;
  height: 22px;
  background: white;
  border-radius: 4px;
  border: solid 1px black;
  margin-right: 12px;
  display: inline-block;
  padding: 0;
}

.nav-link.active .sum-icon{
  background:#80485b;
}

.sum-txt {
  color: black;
  font-size: 14px;
  line-height: 22px;
}

.nav-link.active .sum-txt{
  color: #ffffff;
}


.profilelink:hover {
  color: #cc7503;
  text-decoration: none;
}

.profilelink{
  visibility: hidden;
  color: #cc7503;
  font-weight: bold;
}

tr:hover .profilelink{
  visibility: visible;
}