.updatedb-box {
  width: 62.1%;
  display: flex;
  margin: 48px auto;
  padding: 57px 88px;

  background: #ffffff;
  box-shadow: 0px 2px 16px rgba(128, 72, 91, 0.05),
    0px 2px 4px rgba(128, 72, 91, 0.1);
  border-radius: 8px;
}

.updatedetails-container {
  margin-left: 70px;
}
.update-top {
  border-bottom: solid 1px #f8e7cf;
  padding-bottom: 10px;
}

.update-data {
  font-size: 20px;
  line-height: 24px;
  margin-top: 8px;
  color: #80485b;
}

.update-title {
  font-size: 14px;
  line-height: 18px;
  color: #9fa2b4;
  padding-bottom: 10px;
}

.upload {
  font-size: 20px;
  line-height: 31px;
  color: #252631;
  margin-bottom: 32px;
}

.update-bottom {
  margin-top: 32px;
}

.upload-button{

  
}