.container2{
  height: 300px;
  font-size: 10px;
  justify-content: center;
  justify-content: space-between ;
  justify-content: space-around ;
  justify-content: space-evenly;
  align-items: stretch;
  align-content:'space-around';
  display: flex;
}
.double-field{
    width: 300px;
    height:60px;
    color: #252631;
    display: flex;
    flex-direction: 'row';
    flex-wrap:nowrap;  
    flex-basis:auto;
    justify-content: center ;
    align-content:'space-around';
   
}
.label
{
  width: 200px;
  height:13px;
  font-size: 10px;
}
.edit{
  width: 100px;
  height:19px;
  font-size: 10px;
  text-align: end;
  color:red;
  margin-left: 10px;
  border: 1px solid black;

 }
 .button-icon {
  margin-right: 1px;
}
 .purplebutton {
  width: 136px;
  height:30px;
  margin-top: 2px;
  font-size: 10px;
  color:#834242;
  text-align: end;
  background:#ffffff;
  border:1px solid ;

  }
.single-field{
    width: 200px;
    height:60px;
    justify-content: center;
    align-content:'space-around';
    }
.id-style{
    width:200px;
    height:30px;
    font-size: 10px;
    line-height: 10px;
    color:#252631;
}
.idnumberlabel { 
  width:50px;
  height:20px;
  font-size: 10px;
  color:#e2d5d5;
  }
.idnumbertext{ 
    width:50px;
    height:20px;
    font-size: 10px;
    color:#252631;
}
.donornamelabel{ 
  width:60px;
  height:20px;
  font-size: 10px;
  color:#e2d5d5;
  }
.donorname{ 
    width:60px;
    height:20px;
    font-size: 10px;
    color:#252631;
    }
.birthdatelabel{
  width:60px;
  height:20px;
  font-size: 10px;
  color:#e2d5d5; 
}
.birthdate{
  width:60px;
  height:20px;
  font-size: 10px;
  color:#252631;
}
.donation-style{
  width:300px;
  height:30px;
  font-size: 10px;
  line-height: 10px;
  color:#252631;
}
.totaldonationslabel{
  width:50px;
  height:20px;
  font-size: 10px;
  color:#e2d5d5;
}
.total-donations{
  width:50px;
  height:20px;
  font-size: 10px;
  color:#252631;
}
.totaldonationamountlabel{
  width:90px;
  height:20px;
  font-size: 10px;
  color:#e2d5d5;
}  
.total-donation-amount{
  width:50px;
  height:20px;
  font-size: 10px;
  color:#252631;
}
.remarklabel{
  width:60px;
  height:20px;
  font-size: 10px;
  color:#e2d5d5; 
}
.remark{
  width:300px;
  height:20px;
  font-size: 10px;
  color:#252631; 
}
.particulars-wrapper{
  
  }
  .particulars-box {
    width:300px;
    height:300px;
    padding:10px;
    margin: 10px auto;
    margin-right:30px;
    background: #ffffff;
    box-shadow: 0px 2px 16px rgba(128, 72, 91, 0.05),
      0px 2px 4px rgba(128, 72, 91, 0.1);
    border-radius: 8px;
    border: 0px solid rgb(241, 218, 218); 
  }
  .contact-wrapper{
  
  }
  .contact-box {
    width:300px;
    height:200px;
    padding:10px;
    margin: 10px auto;
    margin-left:30px;
    background: #ffffff;
    box-shadow: 0px 2px 16px rgba(128, 72, 91, 0.05),
      0px 2px 4px rgba(128, 72, 91, 0.1);
    border-radius: 8px;
    border: 0px solid rgb(241, 218, 218); 
  }
.d-inline-block {
  padding:5px;
  margin: 10px auto;
  background: #ffffff;
  font-size: 10px;
  color: #252631;
}
 .table {
      font-size: 10px;
  }
.td, th {
    /* padding: 0.5rem; */
    font-size: 10px;
    color: #A78F6C;
  }
.th {
    font-size: 10px;
    color: #A78F6C;
   
}

tr:hover {
    background-color: #FFF3E2;
    border-radius: 10px;
  
  }
.tr { 
  color: #A78F6C;
  font-size: 8px;
}

