.double-field{
    display: flex;
    flex-direction: 'row';
    flex-wrap:nowrap;  
    flex-basis:auto;
    justify-content: center ;
    align-content:'space-around';
    border: 1px solid red;
    width: 540px;
    height:60px;
}
.id-style{
    justify-content: center;
    align:'center';
    border: 1px solid rgb(14, 14, 168);
 
}
.single-field{
    justify-content: center;
    border: 1px solid rgb(241, 218, 218);
    width: 540px;
}
.total-donations{
    border: 1px solid rgb(228, 127, 33);
}
.total-donation-amount{
    border: 1px solid rgb(228, 127, 33);
}
.particulars-wrapper{
    display: flex;
  }
  .particulars-box {
    display: flex;
    margin: 48px auto;
    background: #ffffff;
    box-shadow: 0px 2px 16px rgba(128, 72, 91, 0.05),
      0px 2px 4px rgba(128, 72, 91, 0.1);
    border-radius: 8px;
  }

.body {
    background: #ccc;
} 
 .table {
    border-collapse: collapse;
  }
  
.td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    position: relative;
  }
  

.th {
    color: #A78F6C;
    border: 1px; 
}

tr:hover {
    background-color: #FFF3E2;
    border-radius: 10px;
  }