.modal-backdrop {
  background: #fff;
}

.modal-backdrop.show {
  opacity: 0.8;
}

.modal-content {
  
  border: 1px solid #cc7503;
  box-shadow: 0px 4px 16px rgba(128, 72, 91, 0.1);
  
}

.modal-footer {
  background: #fff3e2;
  border-top: 0;
  padding: 1rem 5.73%;
}

.modal-close {
  background: transparent;
  border: none;
}

.modal-body{
  padding: 0;
}

.modal-header{
  border:none;
  padding: 0;

}
