.donortable {
  max-width: 1280px;
  margin: 48px auto;
}

.donortable th {
  border-top: none;
  border-bottom: none !important;
}

.donortable .donorlink {
  cursor: pointer;
}

.donortable .donorlink:hover {
  border: 1px solid #FFC881;
}

.donortable .donorlink:hover td:first-child {
  color: #cc7503;

}

/* th,
td {
  padding: 10px;
} */

th {
  color: #a78f6c;
  border: 1px;
}

tr:hover {
  background-color: #fff3e2;
  border-radius: 10px;
}

button {
  margin-left: 10px;
}

.pagination {
  margin-top: 25px;
  width: 35%;
  margin: 20px auto;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  color: #252631 !important;
  background-color: #fff;
  border: none !important;
}

.page-item.active .page-link {
  background-color: #80485b !important;
  color: white !important;
  border-radius: 5px !important;
}

/* .filter {
  border: 1px solid #CC7503;
  position: relative;
  text-align: left;
} */

.filterbuttons {
  background-color: #fff3e2;
  padding: 10px;
}

.modal-90w {
  max-width: 1200px;
}
.donorlist-modal{
  padding: 48px 64px 0px;
}

.modalbody {
  display: flex;
  flex-wrap: wrap;
  padding-top: 48px;
}

.modalfilter {
  flex: 50%;
  padding-bottom: 50px;
}

.filterlabel {
  margin-bottom: 12px;
  display: block;
}

.donorfilters-head{
  font-size: 28px;
  line-height: 1.25;

}
.donorfilter-subhead{
  font-size: 14px;
  line-height: 1.2;
  color: #929295;

}


.taxstatus {
  display: flex;
  flex-wrap: wrap;
}

.taxoption {
  display: flex;
  padding: 10px;
}

/* Advanced filters */
.advanced-filters {
  border-top: 1px solid #dee2e6;
}

.advanced-filters-toggle {
  font-size: 14px;
}

.advanced-filters-toggle img {
  width: 16px;
}

/* sources input */
.rbt-input{
  margin-top:10px;
  min-width: 470px;
  max-width: 470px;
  min-height: 52px;
}



.form-amt{
  height: 52px;
}

.no-donor{
  text-align: center;
  font-size: 26px;
  margin: 48px;

}


.react-datepicker-popper {
  z-index: 100;
}