th, td {
    padding: 10px;
    position: relative;
    left: 80px;
}

th {
    color: #A78F6C;
    border: 1px; 
}

tr:hover {
    background-color: #FFF3E2;
    border-radius: 10px;
  }

button {
  margin-left: 10px;
}

.pagination {
    margin-top: 25px;
    width: 50%;
    margin: 0 auto;
}

