.donortable {
  max-width: 1280px;
  margin: 48px auto;
}

.donortable th {
  border-top: none;
  border-bottom: none !important;
}

th, td {
    padding: 10px;
}

th {
    color: #A78F6C;
    border: 1px; 
}

tr:hover {
    background-color: #FFF3E2;
    border-radius: 10px;
  }

button {
  margin-left: 10px;
}

.pagination {
    margin-top: 25px;
    width: 35%;
    margin: 20px auto;
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  color: #252631 !important;
  background-color: #fff;
  border: none !important;
}

.page-item.active .page-link {
  background-color: #80485B !important;
  color: white !important; 
  border-radius: 5px !important; 
}

.filter {
  border: 1px solid #CC7503;
  position: relative;
  text-align: left;
}

.donorfilterheader{
  padding-top: 50px;
  padding-left: 50px;
}

.donorfiltersubheader{
  padding-left: 50px;
}

.filterdatepicker {
  line-height: 2;
  padding: 50px;
}

.filterbuttons{
  background-color: #FFF3E2;
  padding:10px;
}