/* Dashboard Box */

.box {
    background: #FFFFFF;
    box-shadow: 0px 2px 16px rgba(128, 72, 91, 0.05), 0px 2px 4px rgba(128, 72, 91, 0.1);
    border-radius: 8px;
}


/* Dashboard */

/* .h1{
   position: absolute;
   width: 199px;
   height: 38px;
   left: 80px;
   top: calc(50% - 38px/2 - 578.5px);
   font-style: normal;
   font-weight: normal;
   font-size: 32px;
   line-height: 50px;
   display: flex;
   align-items: center;
   letter-spacing: -1.4px;
   } */

/* .d-flex{
   width: 219px;
   height: 44px;
} */

.react-datepicker__input-container{
   width: 169px;
   height: 44px
}

.startdate{
   height: 44px;
}

/* .startdate{
   position: absolute;
   left: 6.25%;
   right: 91.02%;
   top: 12.08%;
   bottom: 86.71%;
   font-family: Muli;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 17px;
} */

.orangebutton{
   width: 192px;
   height: 44px;
   border-radius: 4px;
}


.line-chart{
   background: #FFFFFF;
    box-shadow: 0px 2px 16px rgba(128, 72, 91, 0.05), 0px 2px 4px rgba(128, 72, 91, 0.1);
    border-radius: 8px;
    }

.keystats{
    font-size: 26px;
    line-height: 33px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.keystats-smallbox{
   display: flex;
   align-items: center;
}

.totalnumberdonors{
    font-size: 26px;
    line-height: 17px;
    color: #252631
}

.totaldonationamt{
    font-size: 26px;
    line-height: 17px;
    color: #252631
}

.keystatslabel{
    font-size: 14px;
    line-height: 22px;  
    color: #9FA2B4
}

.steps{
    width: 278px;
    height: 255px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    }



/* BySource Component */
.legend {
   width: 12px;
   height: 12px;
   border-radius: 50%; 
}

/* coloured bullet points for piechart legend */
.brightorange{
   background: #FFA001;
}

.pink{
   background: #FE5366;
}

.lightpink{
   background:  #FF9A85;
}

.darkpurple{
   background: #80485B;
}

.lilac{
   background: #CB87B0;
}

.flex{
   display: flex;
   align-items: baseline;
}

.bysource-crownvalue{
   font-size: 24px;
   margin-left: 12.96px;
}

.bysource-value{
   font-size: 24px; 
   margin-left: 29.99px
}
.bysource-name{
   margin-left: 16px;
   line-height: 18px;
   font-size: 14px;
   color: #9FA2B4;
   letter-spacing: 0.3px;
}

.bysource-row1{
   width: 382px;
   height: 81px;
   margin-top: 64px;   
}

.bysource-row{
   width: 191px;
   height: 110px;
   padding-top: 25px;   
}

.bs-bottom{
   margin-bottom: 33px;
}

.bysourceborder{
   border-bottom: 1px solid #EBEDF0;
}

.piechart-holder{
     position: relative; 
     display: flex;
     justify-content: center;
     align-items: center;
      
}

.piechart-img{
    position: absolute; 
    top: 50% ;
    left: 50%;
    border-radius: 100%;
    width : 128px;
    height: 128px; 
    box-shadow: 0px 0px 24px rgba(128, 72, 91, 0.08);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    
}


.chart{
    display: flex;
    margin-bottom: 3rem;
}

/* ByIntent Component */

.byintent-bar{
   align-items: right;
   font-family: Muli !important;
   font-style: normal !important;
   font-weight: normal !important;;
   color: #9FA2B4;
}


/* gridding the dashboard */
.wrap{
    display: grid;
    grid-template-columns: 778px 294px;
    grid-template-rows: auto auto;
    grid-column-gap: 98px;
    grid-row-gap: 64px;
    margin-left: 80px;
    margin-top: 40px;
 
}

.dashboard-button{
position: relative;
margin-left: 45%;
margin-top: 3%;
}

.dashboard-title{
       font-size: 32px;
       margin-bottom: 12px;
}
.dashboard-headertxt{
   font-size: 26px;
   margin-bottom: 24px;
   color: #252631;
}

.dashboard-header{
   color: #9FA2B4;
   font-weight: 600;
   line-height: 18px;
}
.dashboard{
   border-bottom: solid 1px #ECDFDC;
   padding-left: 80px;
   padding-top: 40px;
   display: flex;
   height: 174px;
   
}