/* Dashboard Box */

.box {
    background: #FFFFFF;
    box-shadow: 0px 2px 16px rgba(128, 72, 91, 0.05), 0px 2px 4px rgba(128, 72, 91, 0.1);
    border-radius: 8px;
}



/* Dashboard */

.line-chart{
     background: #FFFFFF;
    box-shadow: 0px 2px 16px rgba(128, 72, 91, 0.05), 0px 2px 4px rgba(128, 72, 91, 0.1);
    border-radius: 8px;
    }

.keystats{
    font-size: 26px;
    line-height: 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.keystats-smallbox{
   display: flex;
   align-items: center;
}

.totalnumberdonors{
    font-size: 26px;
    line-height: 17px;
    color: #252631
}

.totaldonationamt{
    font-size: 26px;
    line-height: 17px;
    color: #252631
}

.keystatslabel{
    font-size: 14px;
    line-height: 22px;  
    color: #9FA2B4
}

.steps{
    transform: matrix(1, 0, 0, 1, 0, 0);
    height: 225px;
    width: 278px;
    }

/* BySource Component */
.legend {
   width: 12px;
   height: 12px;
   border-radius: 50%; 
}

.legend-container{
   margin: 30px 48px auto 0;
}

.brightorange{
   background: #FFA001;
}

.pink{
   background: #FE5366;
}

.lightpink{
   background:  #FF9A85;
}

.darkpurple{
   background: #80485B;
}

.lilac{
   background: #CB87B0;
}

.flex{
   display: flex;
   align-items: baseline;
}

.bysource-crownvalue{
   font-size: 24px;
   margin-left: 12.96px;
}

.bysource-value{
   font-size: 24px; 
   margin-left: 29.99px
}
.bysource-name{
   margin-left: 16px;
   line-height: 18px;
   font-size: 14px;
   color: #9FA2B4;
   letter-spacing: 0.3px;
}

.bysource-row1{
   width: 382px;
   height: 110px;
   padding-top: 30px;   
}

.bysource-row{
   width: 191px;
   height: 110px;
   padding-top: 25px;   
}

.piechart-holder{
     position: relative; 
     display: flex;
     justify-content: center;
     align-items: center;
    
}

.piechart-img{
    position: absolute; 
    top: 50% ;
    left: 50%;
    border-radius: 100%;
    width : 128px;
    height: 128px; 
    box-shadow: 0px 0px 24px rgba(128, 72, 91, 0.08);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    
}


.chart{
    width: 778px;
    height: 398px;
    display: flex;
    margin: 2rem 2rem;
}

/* gridding the dashboard */
.wrap{
    display: grid;
    outline: 1px solid red; 
    grid-template-columns: 72% auto;
    grid-template-rows: 174px 500px 500px;
    grid-template-areas:
    "header header"
    "main1 sidebar"
    "main2 sidebar" ;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    
}

.dashboard-gridcontent{
   padding: 40px 80px;
}