
.icon-orange-button{
    background: #FFC881;
    border-radius: 4px;
    width: 203px;
    height: 44px;
    
}

.orange-button{
    background: #FFC881;
    border-radius: 4px;
    width: 199px;
    height: 44px;
    
}


.white-button{
    background: #FFFDFA;
    box-shadow: 0px 1px 0px #ECDFDC;
    width: 123px;
    height: 44px; 
    border: 1px solid #80485B;
}

.purple-button{
    background:#4B1E2D;
    width: 120px;
    height: 44px; 
    border-radius: 4px;
}
/* ByIntent Component */

.piechart-holder{
     position: relative; 
     display: flex;
     justify-content: center;
     align-items: center;
    
}

.piechart-img{
    position: absolute; 
    top: 50% ;
    left: 50%;
    border-radius: 100%;
    width : 128px;
    height: 128px; 
    box-shadow: 0px 0px 24px rgba(128, 72, 91, 0.08);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    
}
.VictoryContainer{
     /* outline: 1px solid black;  */
     
}

.chart{
    /* outline: 1px solid blue; */
    width: 778px;
    height: 398px;
    border-radius: 8px;
    display: flex;
    margin: 2rem 2rem;
    background: #FFFFFF;
    box-shadow: 0px 2px 16px rgba(128, 72, 91, 0.05), 0px 2px 4px rgba(128, 72, 91, 0.1);
}


.legend {
    width: 12px;
    height: 12px;
    border-radius: 50%; 
}

.legend-container{
    margin: 30px 48px auto 0;
}



.brightorange{
    background: #FFA001;
}

.pink{
    background: #FE5366;
}

.lightpink{
    background:  #FF9A85;
}

.darkpurple{
    background: #80485B;
}

.lilac{
    background: #CB87B0;
}

.flex{
    display: flex;
    align-items: baseline;
}

.byintent-crownvalue{
    font-size: 24px;
    margin-left: 12.96px;
}

.byintent-value{
    font-size: 24px; 
    margin-left: 29.99px
}
.byintent-name{
    margin-left: 16px;
    line-height: 18px;
    font-size: 14px;
    color: #9FA2B4;
    letter-spacing: 0.3px;
}

.byintent-row1{
    width: 382px;
    height: 110px;
    padding-top: 30px;   
    
}

.byintent-row{
    width: 191px;
    height: 110px;
    padding-top: 25px;   
}

.byintentborder{
    border-bottom: 1px solid #EBEDF0;
}
