/* Login Page*/

.icon-orange-button{
    background: #FFC881;
    border-radius: 4px;
    width: 203px;
    height: 44px;
    
}

.orange-button{
    background: #FFC881;
    border-radius: 4px;
    width: 199px;
    height: 44px;
    
}


.white-button{
    background: #FFFDFA;
    box-shadow: 0px 1px 0px #ECDFDC;
    width: 123px;
    height: 44px; 
    border: 1px solid #80485B;
}

.purple-button{
    background:#4B1E2D;
    width: 120px;
    height: 44px; 
    border-radius: 4px
}

/* Nav Bar */
.navbar {
    height: 66px;
}

.logo_navbar{
    position: relative;
    left: 15px;
}

.search_icon {
    position: relative;
    left: 50px;
}

.form-inline{
    position: relative;
    left: 60px;
    background-color: transparent !important;
    border:none !important;
    font-size: 15px;
    width:500px !important;
}

.navBarSearchForm-input{
    width:600px !important;
}

input.transparent-input { 
    border:none !important
}

.transparent-input {
   background-color: rgba(0, 0, 0, 0);
   border:none;
}
 input.transparent-input{
       background-color:rgba(0,0,0,0) !important;
       border:none !important;
    }


