@import url('https://fonts.googleapis.com/css?family=Muli:400,600,800&display=swap');

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
  padding: 0;
  background: #FFFDFA;
}

.login-img{
  position: absolute;
  left: 20%;
  right: 11.5%;
  top: 20%;
  bottom: 10.4%;

}

.login-form {
  position: absolute;
  list-style: none;
  display: inline-block;
  text-align: left;
  left: 50%;
  right: 11.5%;
  top: 22%;
  bottom: 10.4%;
  
}
.logo {
  margin-bottom: 2em;
}
.login-form-list{
  padding-bottom: 0.6em;
  line-height: 34px;
}

.textbox{
  background: #FFFFFF;  
  border: 1px solid #EBEDF0;
  box-sizing: border-box;
  border-radius: 4px;
  width: 360px;
  height: 52px;
}

.login-button{
  background: #80485B;
  border-radius: 4px;
  width: 360px;
  height: 52px;
  
}

.login-button-text{
  color: white; 
}


